<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Consultoría y asesoramiento de marketing digital y estratégico para negocios que apuntan a la digitalización y profesionalización. Lideres en latinoamérica.">
    <meta name="title" content="Armon Dirac de Argentina - Marketing digital y estratégico.">
    <meta name="author" content="https://Gauchodigital.com.ar">
    <title>Armon Dirac de Argentina - Marketing digital y estratégico</title>


    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.min.css">

    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.transitions.css">
    <link rel="stylesheet" href="css/style-new.css">

    <script src="js/image-Hover.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="home">
    <header class="navbar navfixedhide main-header">
        <div class="container">
            <div class="row">
                <div class="header_top">
                    <div class="col-md-2 col-md-2 col-xs-9">
                        <!-- <div class="logo_img">
                            <a href="index.html"><img src="images/armon-dirac-logo.png" alt="logo-image"></a>
                        </div> -->
                    </div>
                    <div class="col-md-10">
                        <div class="menu_bar">
                            <nav class="navbar navbar-default">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#home" class="js-target-scroll">Home</a></li>
                                        <li><a href="#what_we_do" class="js-target-scroll">Services</a></li>
                                        <li><a href="#recent_work" class="js-target-scroll">Portfolio</a></li>

                                        <li><a href="#our_team" class="js-target-scroll">Team</a></li>

                                        <li><a href="#our_client" class="js-target-scroll">Testimonial</a></li>
                                        <li><a href="#need_help" class="js-target-scroll">FAQ</a></li>

                                        <li><a href="#get_touch" class="js-target-scroll">Contact</a></li>
                                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                page </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-right-sidebar.html">Blog Right Sidebar </a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar </a></li>
                                                <li><a href="single-post.html">Single Post </a></li>
                                                <li><a href="pricing-options.html">Pricing Option</a></li>
                                                <li><a href="portfolio-options.html">Portfolio Option</a></li>
                                                <li><a href="404-error.html">404 Error</a></li>
                                                <li><a href="coming-soon.html">Coming Soon </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="banner">
        <div class="videoWrapper">
            <video id="video-dev" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="videos/video-home.mp4" type="video/mp4">
            </video>
        </div>
        <div id="owl-demo" class="owl-carousel">
            
            <div class="banner-slide">
                <div class="banner_text">
                    <h1> Agencia #1 en Marketing Digital de Latino América. </h1>
                    <h3> Tu impulso tiene valor aquí. </h3>
                    <a class="btn banner_btn" href="#"> Contactanos <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i> </a>
                </div>
            </div>
            <div class="banner-slide">
           
                <div class="banner_text">
                    <h1> Equipo experto en Operaciones y Estrategia. </h1>
                    <h3> Co-creadores de tu mejor versión. </h3>
                    <a class="btn banner_btn" href="#"> Contactanos <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i> </a>
                </div>
            </div>
            <div class="banner-slide">
                <div class="banner_text">
                    <h1> Creatividad e Innovación para un mundo consciente. </h1>
                    <h3> Artesanos de impacto positivo. </h3>
                    <a class="btn banner_btn" href="#"> Contactanos <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i> </a>
                </div>
            </div>
        </div>
    </section>
    <section id="who_we_are" class="secondary-bg">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    
                    <div class="section_heading wow animated fadeInUp">
                        
                        <h2> Quienes somos </h2>
                    </div>
                    <div class="section_text">
                        <p> Armon Dirac es la agencia de consultoría estratégica y de operaciones # 1 en América Latina.
                            <br>
                            Nuestra Misión es reconocer e incrementar el valor del impulso de todos los lideres
                            emprendedores y
                            empresas que buscan aportar cuadruple impacto al mundo: social, ambiental, económico y
                            tecnológico. Liderando el cambio hacia un mundo nuevo donde las mujeres pueden desarrollar
                            todo su potencial. <br>

                            Nuestra visión es convertirnos en el lugar perfecto para seres humanos creativos y para
                            desarrollar el potencial de negocios de impacto.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="we_are_detail wow animated fadeInUp">
                        <div class="about_us_img">
                            <img src="images/arco.jpg" alt="image">
                        </div>
                        <h5> Nacimos</h5>
                        <p> ...en 2014 como la armonía de un impulso,...de todos los impulsos. No hay pasado ni futuro,
                            sólo la energía liberada en el presente. La consciencia de la precisión y disciplina. El
                            cuidado armónico de la construcción artesanal de cada sueño puesto en nuestras manos. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="we_are_detail wow animated fadeInUp">
                        <div class="about_us_img">
                            <img src="images/mujer-saltando.jpg" alt="image">
                        </div>
                        <h5> Somos</h5>
                        <p> ...una singularidad de infinito impacto en un horizonte de tiempo instantáneo. El lugar
                            ideal para que las personas puedan expresar su creatividad y liderar la transformación. La
                            mejor alternativa de inversión para quienes confían en nosotros. El mejor aliado para
                            desarrollar negocios en Latinoamérica. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="we_are_detail wow animated fadeInUp">
                        <div class="about_us_img">
                            <img src="images/luz-enchufe.jpg" alt="image">
                        </div>
                        <h5> Creemos </h5>
                        <p> ...en automatizar lo trivial para dejar espacio y tiempo para solucionar creativamente los
                            desafíos disruptivos. Creemos en el amor, la familia, la amistad, la confianza, la
                            diversidad, el empeño, la honestidad, la competencia sana, la identidad e igualdad, entre
                            tantas cosas que nos definen y signan la forma en que nos integramos al mundo. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="what_we_do" class="primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> ¿Qué hacemos? </h2>
                    </div>
                    <div class="section_text">
                        <p> Complementamos tu negocio brindándote soporte profesional en cada área para que tomes
                            decisiones con información de calidad y oportuna.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                            <h6> Strategy </h6>
                            <div class="we_do_content">
                                <p> Análisis estratégico de tu negocio. Diagnóstico externo a la organización, anatomía
                                    interna y fit estratégico. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-paint-brush" aria-hidden="true"></i>
                            <h6> Sales Training </h6>
                            <div class="we_do_content">
                                <p> Tu equipo de ventas necesita fortalecerse, adaptarse y desarrollarse
                                    permanentemente. Nuestro programa de entrenamiento potencia la mejor versión de tu
                                    equipo, trabajando de manera personalizada. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                            <h6> Operations </h6>
                            <div class="we_do_content">
                                <p> Asesoramiento en tecnologías industriales para la optimización de rendimiento de
                                    planta. Implementación OEE – MES – ERP – CRM. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            <h6> Market Research </h6>
                            <div class="we_do_content">
                                <p> Investigación de mercado. Estrategia de Innovación. Investigación, Desarrollo e
                                    Imitación. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <h6> Marketing </h6>
                            <div class="we_do_content">
                                <p> Estrategia de comercialización atendiendo todos los aspectos de tu marca. Diseño de
                                    marca, manual de marca, sitio web, redes sociales, e-mail marketing. Experiencia de
                                    usuario optimizada y mejorada. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <h6> Digitalization </h6>
                            <div class="we_do_content">
                                <p> transformación de procesos manuales a automáticos y de automáticos a inteligentes e
                                    integrados al mundo. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                            <h6> Latam </h6>
                            <div class="we_do_content">
                                <p> Somos expertos en comercialización internacional e intercultural enfocada en fit
                                    estratégico hacia mercados latinoamericanos. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                            <h6> Content & Publications </h6>
                            <div class="we_do_content">
                                <p> Editorial digital propia para libros, revistas, publicaciones, brochures técnicos.
                                    Estudio de audio y video. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="we_do_detail wow animated fadeInUp"
                        style="background:url(images/we_do_img.jpg) no-repeat; background-size:100%">
                        <div class="we_do_detail_m">
                            <i class="fa fa-headphones" aria-hidden="true"></i>
                            <h6> Industry 4.0 </h6>
                            <div class="we_do_content">
                                <p> Internet de las cosas industrial y comercial. Manufactura digital. Integración
                                    global de tecnologías. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="why_choose_us" class="secondary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> Consultora Singular </h2>
                    </div>
                    <div class="section_text">
                        <!-- <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p> -->
                    </div>
                </div>
                <div class="choose_us_slide">
                    <img src="images/choose_us_img.jpg" alt="image">
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="choose_us_detail wow animated fadeInUp">
                        <span> <i class="fa fa-desktop" aria-hidden="true"></i> </span>
                        <h6> Asesoramiento Confidencial </h6>
                        <p> tu espacio para hacer crecer el negocio de manera profesional, sin miradas externas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="choose_us_detail wow animated fadeInUp">
                        <span> <i class="fa fa-html5" aria-hidden="true"></i> </span>
                        <h6> Contacto permanente (nexus) </h6>
                        <p> Con cada cliente 24-7 sin cargo post proyecto. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="choose_us_detail wow animated fadeInUp">
                        <span> <i class="fa fa-headphones" aria-hidden="true"></i> </span>
                        <h6> Cobertura multidisciplinaria </h6>
                        <p> más de 30 especialistas diversos soportan Armon Dirac.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="recent_work" class="primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> Our Recent Works </h2>
                    </div>
                    <div class="section_text">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <figure class="snip1104 red">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
                        <figcaption>
                            <h2>Jean <span> Myers</span></h2>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-4">
                    <figure class="snip1104 blue"><img
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample34.jpg" alt="sample34" />
                        <figcaption>
                            <h2>Lynn <span> Reyes</span></h2>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-4">
                    <figure class="snip1104"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample35.jpg"
                            alt="sample35" />

                        <a href="#"></a>
                    </figure>
                </div>
            </div>
        </div>
        </div>
    </section> -->





    <!-- <section id="our_client" class="primary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> What Our Clients Says </h2>
                    </div>
                    <div class="section_text">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.</p>
                    </div>
                    <div id="testimonial_slider" class="owl-carousel row">
                        <div class="item our_client_detail">
                            <div class="client_img">
                                <img src="images/client_img-1.jpg" alt="image">
                            </div>
                            <div class="client_name">
                                <h6> James Lee</h6>
                                <p>(Business Head)</p>
                            </div>
                            <p class="client_say"> Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="item our_client_detail">
                            <div class="client_img">
                                <img src="images/client_img-2.jpg" alt="image">
                            </div>
                            <div class="client_name">
                                <h6>Kylie Stewart</h6>
                                <p>(Marketing Head)</p>
                            </div>
                            <p class="client_say"> Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="item our_client_detail">
                            <div class="client_img">
                                <img src="images/client_img-3.jpg" alt="image">
                            </div>
                            <div class="client_name">
                                <h6>Cooper Fisher</h6>
                                <p>(ABEL CORP / Co-Founder)</p>
                            </div>
                            <p class="client_say"> Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                and scrambled it to make a type specimen book.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section id="need_help" class="secondary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> Do you need help? </h2>
                    </div>
                </div>
                <div class="section_text">
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="help_que wow animated fadeInUp">
                        <div class="help_detail">
                            <h6> How to use the template? </h6>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="help_que wow animated fadeInUp">
                        <div class="help_detail">
                            <h6> When can I contact the support? </h6>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="help_que wow animated fadeInUp">
                        <div class="help_detail">
                            <h6> What do I need to start? </h6>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="help_que wow animated fadeInUp">
                        <div class="help_detail">
                            <h6> Can I use it without being an expert? </h6>
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section id="get_touch" class="secondary-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_heading wow animated fadeInUp">
                        <h2> Contactanos </h2>
                    </div>
                    <!-- <div class="section_text">
                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. </p>
                    </div> -->
                    <div class="col-md-6 col-sm-6">
                        <div class="contact_detail wow animated fadeInUp">
                            <div class="contact_detail_m">
                                <div class="contact_form wow animated fadeInUp">
                                    <form>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control contact_field " placeholder="Name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="email" class="form-control contact_field" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <select class="form-select" aria-label="Default select example" placeholder="Selecciona el Servicio">
                                                <option value="1">Strategy</option>
                                                <option value="2">Sales</option>
                                                <option value="3">Operations</option>
                                                <option value="4">Market Research</option>
                                                <option value="5">Marketing</option>
                                                <option value="6">Digitalization</option>
                                                <option value="7">Latam</option>
                                                <option value="8">Content&Publications</option>
                                                <option value="9">Industry 4.0</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <input type="text" class="form-control contact_field " placeholder="Country">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <textarea class="form-textarea msg_box" rows="3"
                                                placeholder="Message"></textarea>
                                        </div>
                                    </form>
                                    <a class="btn btn-lg" href="#"> Send Message <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="find_here wow animated fadeInUp">
                            <h6> Find Us Here </h6>
                            <div class="find_here_m">
                                <span><i class="fa fa-home" aria-hidden="true"></i> </span>
                                <p> Av. Nazca 2662, Ciudad Autonoma de Buenos Aires, Argentina</p>
                            </div>
                            <div class="find_here_m wow animated fadeInUp">
                                <span> <i class="fa fa-envelope-o" aria-hidden="true"></i> </span>
                                <p> <a href="#"> <span class="__cf_email__"
                                            data-cfemail="c2a1adacb6a3a1b682bbadb7b0b5a7a0b7b0aeeca1adaf">consultas@armon-dirac.com</span>
                                    </a> </p>
                            </div>
                            <!-- <div class="find_here_m wow animated fadeInUp">
                                <span> <i class="fa fa-phone" aria-hidden="true"></i> </span>
                                <p> 012-1234-5778-68 </p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer" class="third-bg">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="content_box">
                        <div class="footer_logo">
                            <a href="#"><img src="images/logo.png" alt="logo-image"></a>
                        </div>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Gallery</h5>
                    <div class="gallery_images">
                        <ul>
                            <li><a href="#"><img src="images/gallery_img1.jpg" alt="image"></a></li>
                            <li><a href="#"><img src="images/gallery_img2.jpg" alt="image"></a></li>
                            <li><a href="#"><img src="images/gallery_img3.jpg" alt="image"></a></li>
                            <li><a href="#"><img src="images/gallery_img1.jpg" alt="image"></a></li>
                            <li><a href="#"><img src="images/gallery_img2.jpg" alt="image"></a></li>
                            <li><a href="#"><img src="images/gallery_img3.jpg" alt="image"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5>Subscribe Newsletter </h5>
                    <div class="newsletter">
                        <p>You can subscribe here to get our latest news. </p>
                        <form action="" method="get">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Your Email Address">
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary">Subscribe <i
                                        class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <ul class="follow_us">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p>Copyright &copy; <a href="https://Gauchodigital.com.ar">Gaucho Digital</a>. All rights reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="back-top" class="back-top">
        <a href="#top"><i aria-hidden="true" class="fa fa-chevron-up"></i> </a>
    </div>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
</body>

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/interface.js"></script>

<script src="js/isotope-docs.min.js"></script>

<script src="js/owl.carousel.min.js"></script>
<script src="js/wow.min.js"></script>
<script>
    new WOW().init();
</script>


</html>